# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Motion-I2V-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
